body {
    background: radial-gradient(circle, rgb(85, 3, 85) 70%, rgb(221, 151, 221));;
    text-align: left;
    height: 100%;
}
div {
    background-color: white;
    padding: 1px 10px 1px 10px;
}
#portfolio-link {
    width: 60px;
    height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    border: 1px solid black;
}

#contact-link {
    width: 60px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 85px;
    float: left;
    text-align: center;
    border: 1px solid black;
}
#bio-link {
    width: 60px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 170px;
    float: left;
    margin: 0 auto;
    border: 1px solid black;
}