body {
    background: wheat;
    text-align: left;
    height: 100%;
}
img {
    height: 100px;
    width: 100px;
    float: left;
}
div {
    width: 1000px;
    height: 600px;
    background: white ;
    text-align: left;
    margin: 0 auto;
    border: 1px solid;
    border-color: black;
    padding: 1px 10px 1px 10px;
}
p {

    color: #000b4f;
}
h1 {
    color: #000b4f;
   
  
}
h2 {
    color:#000b4f;
}
.aboutme-header {
    width: 12%;
    padding: 0px 5px 0px 5px;
    border: 1px solid black;
    margin-left: 50px;
}
.box-header {
    width: 300px;
    height: 75px;
    background: white;
    text-align: center;

}